{% extends 'base.html' %}

{% block body %}
<div class="table-responsive">
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Sınav No</th>
      <th scope="col">Sınavın Adı</th>
      <th scope="col">Oluşturulma Tarihi</th>
      <th scope="col">Sınav Dosyası</th>
      <th scope="col">İncele</th>
      <th scope="col">Çöz</th>
    </tr>
  </thead>
  <tbody>
  {% for item in themes %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{item.quiz_name}}</td>
      <td>{{item.publishing_date}}</td>
      <td>{{item.quiz_file}}</td>
      <td><a href="{{ item.quiz_file.url }}" class="btn btn-primary" role="button" target="_blank">İncele</a></td>
      <td><a href="{{ item.get_absolute_url }}" class="btn btn-success" role="button">Çöz</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock body %}