{% extends 'base.html' %}

{% block body %}
    <div class="container bg-secondary rounded">
        <div class="row col-md-8 mt-3 p-2"></div>

            <div class="card mb-3">

                  <div class="card-body">
                        <h5 class="card-title">{{themes.title}}</h5>
                        <p class="card-text">{{themes.content|safe}}</p>
                        <p class="card-text"><small class="text-muted">{{themes.publishing_date}}</small></p>
                        <p><a href="{% url 'ders:index' %}" class="btn btn-success" role="button">Geri</a></p>

                  </div>
            </div>

        <div class="row col-md-8 mt-3"></div>

    </div>

{% endblock body %}